.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 1em;
}
.table th,
.table td {
  padding: 0.5em 0.5em;
  line-height: 1em;
  text-align: left;
}
.table thead th {
  word-break: normal;
  text-align: center;
  font-weight: bold;
}
